[Unit]
Description=ALDS FastAPI Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/Github/P06_Anomalous-Login-Detection-ELK/Development/Sprint-3
Environment=PATH=/home/ubuntu/Github/P06_Anomalous-Login-Detection-ELK/Development/Sprint-3/.venv/bin
ExecStart=/home/ubuntu/Github/P06_Anomalous-Login-Detection-ELK/Development/Sprint-3/.venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
